* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

 a {
    text-decoration: none;
    outline: none;
}

header {
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../assets/images/banner.png);
    background-size: cover;
    background-position: center;
}

nav {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 7%;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    z-index: 100;
}

.logo {
    width: 64px;
    border-radius: 50%;
    cursor: pointer;
}

.nav-links li {
    list-style: none;
    display: inline-block;
    margin: 10px 30px;
}

.nav-links li a {
    text-decoration: none;
    color: #fff;
}

.register-btn {
    background-color: #000;
    color: #fff;
    padding: 8px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 14px;
    transition: .5s
}

.register-btn:hover {
    background-color: #fff;
    color: #000;
}


.active {
    position: relative;
}

.active::after {
    content: '';
    background-color: #fff;
    width: 25px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -12px;
    border-radius: 2px;
}

nav .fa-bars {
    display: none;
}

.container {
    padding: 0 7%;
}

/* Begin Footer */
footer {
    margin: 100px 0 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}

footer hr {
    background-color: #999;
    height: 1px;
    border: 0;
    margin: 20px 0;
}

footer p {
    padding-bottom: 15px;
}
/* End Footer */

/* Begin responsive small screen devices for nav bar */
@media only screen and (max-width: 700px) {
    .logo {
        position: fixed;
        top: 4%;
        left: 7%;
    }

    nav {
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 90px 7% 0;
        background-color: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height .5s;
    }

    nav .nav-links li {
        margin: 15px 0;
        display: block;
    }

    .register-btn {
        margin: 15px 0 30px;
        display: inline-block;
    }

    nav .fa-bars {
        display: block;
        position: fixed;
        top: 5%;
        right: 7%;
        color: #fff;
        font-size: 28px;
    }

    .active::after {
        width: 80%;
        bottom: -20%;
    }

    .hidemenu {
        max-height: 300px;
    }

    .header h1 {
        padding-top: 200px;
        font-size: 7vw;
    }

    .register-btn {
        color: #000;
        background-color: #fff;
    }
}
/* END responsive small screen devices for nav bar*/

/* listing page */
.navBar--black {
    background: #000;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.navBar--black .register-btn {
    background-color: #fff;
    color: #000;
}

.room-features {
    display: flex;
    justify-content: space-between;
}

.room-features p {
    display: flex;
    align-items: center;
}

.room-features p img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* BEGIN room-detail page */
.room-details {
    padding: 0 12%;
    margin-top: 150px;
}

.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . ' 'first first . ';
    margin: 40px 0;
}

.gallery div img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

.gallery-img-1 {
    grid-area: first;
}

.small-details h3 {
    font-weight: 500;
}

.small-details p {
    margin: 20px 0;
}

.small-details h4 {
    font-size: 22px;
}

.small-details .room-features {
    margin: 20px 0;
    width: 50%;
}

.line {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 50px 0;
}

.check-form {
    margin: 30px 0;
    background: #fff;
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    pad: 10px 50px;
}

.check-form label {
    display: block;
}

.check-form div {
    padding: 20px;
}

.check-form input {
    background: transparent;
    border: 0;
    outline: none;
}

.check-form select {
    border: none;
}

.check-form button {
    background: #000;
    border: 0;
    outline: none;
    color: #fff;
    padding: 15px;
    width: 144px;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 14px;
    transition: .5s;
}

.check-form button:hover {
    color: #000;
    background-color: #ccc;
}

.guest-field {
    flex: 1;
}

.details-list {
    list-style: none;
    margin: 50px 0;
}

.details-list li {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}

.details-list li span {
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.details-list li i {
    position: absolute;
    top: 5px;
    left: -40px;
}

.home-desc {
    max-width: 700px;
    margin-bottom: 50px;
}

.map {
    margin: 50px 0;
}

.map iframe {
    width: 100%;
    margin-bottom: 30px;
}

.map h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.map b {
    display: block;
    margin-bottom: 16px;
}

/* END Room Details */


/* ------media query for room details page------ */
@media only screen and (max-width: 700px) {
    .room-details {
        margin-top: 150px;
    }

    .row p {
        margin-top: 10px;
    }

    .gallery {
        grid-template-areas: 'first first' '. .' '. .';
    }

    .small-details h2 {
        font-size: 20px;
        margin-top: 24px;
    }

    .small-details h4 {
        text-align: left;
        margin: 10px 0;
        font-size: 18px;
    }

    .check-form {
        padding: 10px 30px;
    }

    .check-form div {
        padding: 20px 0;
        width: 100%;
    }

    .check-form input {
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding-bottom: 5px;
    }

    .check-form button {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
    }
}
/* ------end media query for room details page------ */