/* Begin Footer */
footer {
    margin: 100px 0 10px;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #999;
    font-size: 22px;
    margin: 0 10px;
}

footer hr {
    background-color: #999;
    height: 1px;
    border: 0;
    margin: 20px 0;
}

footer p {
    padding-bottom: 15px;
}

/* End Footer */

/* Begin responsive small screen devices for nav bar */
@media only screen and (max-width: 700px) {
    .logo {
        position: fixed;
        top: 4%;
        left: 7%;
    }

    nav {
        position: fixed;
        top: 0;
        z-index: 100;
        display: inline-block;
        width: 100%;
        padding: 90px 7% 0;
        background-color: #000;
        text-align: right;
        max-height: 100px;
        overflow: hidden;
        transition: max-height .5s;
    }

    nav .nav-links li {
        margin: 15px 0;
        display: block;
    }

    .register-btn {
        margin: 15px 0 30px;
        display: inline-block;
    }

    nav .fa-bars {
        display: block;
        position: fixed;
        top: 5%;
        right: 7%;
        color: #fff;
        font-size: 28px;
    }

    .active::after {
        width: 80%;
        bottom: -20%;
    }

    .hidemenu {
        max-height: 300px;
    }

    .header h1 {
        padding-top: 200px;
        font-size: 7vw;
    }

    .register-btn {
        color: #000;
        background-color: #fff;
    }
}

/* END responsive small screen devices for nav bar*/

/* listing page */

.room-features {
    display: flex;
    justify-content: space-between;
}

.room-features p {
    display: flex;
    align-items: center;
}

.room-features p img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

/* BEGIN room-detail page */
.room-details {
    padding: 0 12%;
    margin-top: 150px;
}

.gallery {
    display: grid;
    grid-gap: 10px;
    grid-template-areas: 'first first . ' 'first first . ';
    margin: 40px 0;
}

.gallery div img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 10px;
}

.gallery-img-1 {
    grid-area: first;
}

.small-details h3 {
    font-weight: 500;
}

.small-details p {
    margin: 20px 0;
}

.small-details h4 {
    font-size: 22px;
}

.small-details .room-features {
    margin: 20px 0;
    width: 100%;
}

.line {
    border: 0;
    height: 1px;
    background: #ccc;
    width: 100%;
    max-width: 800px;
    margin: 50px 0;
}

.container button {
    background: #000;
    border: 0;
    outline: none;
    color: #fff;
    padding: 15px;
    width: 144px;
    border-radius: 8px;
    font-size: 16px;
    margin-right: 14px;
    margin-top: 24px;
    transition: .5s;
}

.check-form button:hover {
    color: #000;
    background-color: #ccc;
}

.guest-field {
    flex: 1;
}

.details-list {
    list-style: none;
    margin: 50px 0;
}

.details-list li {
    margin-left: 50px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #555;
    position: relative;
}

.details-list li span {
    display: block;
    font-weight: 400;
    font-size: 16px;
}

.details-list li i {
    position: absolute;
    top: 5px;
    left: -40px;
}

.home-desc {
    max-width: 700px;
    margin-bottom: 50px;
}

.map {
    margin: 50px 0;
}

.map iframe {
    width: 100%;
    margin-bottom: 30px;
}

.map h3 {
    font-size: 26px;
    font-weight: 500;
    margin-bottom: 30px;
}

.map b {
    display: block;
    margin-bottom: 16px;
}

/* END Room Details */


/* ------media query for room details page------ */
@media only screen and (max-width: 700px) {
    .room-details {
        margin-top: 150px;
    }

    .row p {
        margin-top: 10px;
    }

    .gallery {
        grid-template-areas: 'first first' '. .' '. .';
    }

    .small-details h2 {
        font-size: 20px;
        margin-top: 24px;
    }

    .small-details h4 {
        text-align: left;
        margin: 10px 0;
        font-size: 18px;
    }

    .check-form {
        padding: 10px 30px;
    }

    .check-form div {
        padding: 20px 0;
        width: 100%;
    }

    .check-form input {
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding-bottom: 5px;
    }

    .check-form button {
        font-size: 14px;
        margin-top: 10px;
        margin-bottom: 15px;
        border-radius: 4px;
    }
}

/* ------end media query for room details page------ */